/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  
   .navbar {
    height: 110px;
  }
  
  .navbar ul {
    padding: 10px;
  }
  
  .main-form {
    width: 30px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  
  .main {
    height: auto;
  }
  
    .main-text {
    text-align: center;
    margin-top: 40px;
  }

  .main-form {
    justify-self: center;
    margin: auto;
  }
  
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}

/* Navbar */
.navbar {
  text-align: center;
  background: purple;
  color: #fff;
  height: 80px;
}

.navbar a {
  color: white;
  padding: 5px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 15px #fff solid;
  background-color: lightblue;
}

/* Main */
.main {
  text-align: center;
  overflow: visible;
  grid-template-columns: 25% auto;
  gap: 10px;
  height: 40px;
  color: #fff;
}

.main h1 {
  font-size: 30px;
}

.main p {
  font-size: 20px;
  margin: 20px 0;
}

/* Container */
.container {
  display: inline;
  justify-content: space-around;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  padding: 10px;
}

.container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* Social */
.fa {
  text-align: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  flex-direction: row-reverse;
  grid-column-start: 1;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  grid-column-start: 3;
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Footer */
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer {
    background: purple;
    margin: auto;
    text-align:center;
    padding:10px;
    color:#ffffff;
}

